body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
                "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 2em;
}

p, h1 {
  text-align: center;
}

p {
  padding-top: 1.5em;
  letter-spacing: .5px;
}

input, textarea {
  font-size: 18px;
}

@media screen and (min-width: 30em) {
  h1 {
    font-size: 4em;
  }
}
