
<h1>Coming Soon</h1>

<div class="socialbuttons">
  <a href="https://twitter.com/adelekyriacou">
    <%= image_tag("twitter", size: "50") %></a>

  <a href="https://github.com/adelekyriacou">
    <%= image_tag("github", size: "50") %></a>

  <a href="http://uk.linkedin.com/pub/adele-kyriacou/37/1b1/a45">
    <%= image_tag("linkedin", size: "50") %></a>

  <a href="http://instagram.com/adelekyriacou">
    <%= image_tag("instagram", size: "50") %></a>
</div>

<p>hello@adelekyriacou.com</p>